@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /*set flex display to column to stack flex items*/
  display: flex;
  flex-direction: column;
}

.left-links, .right-links{
  display: flex;
  /*remove bullet points from list*/
  list-style-type: none;
  /*set gaps between list items*/
  gap: 8px;
  /*set padding*/
  padding: 16px;
  /*remove margins*/
  margin: 0px;
}

.header{
  display: flex;
  /*set links to opposite sides*/
  justify-content: space-between;
  /*fix to top*/
  margin-bottom: auto;
}

.content{
  display: flex;
  /*stack items on top*/
  flex-direction: column;
  /*center overall content section*/
  align-content: center;
  /*align individual items to center*/
  align-items: center;
}

.footer{
  display: flex;
  /*set to lock left and right*/
  justify-content: space-between;
  /*fix to bottom of page*/
  margin-top: auto;
  /*set background color*/
  background-color: rgb(245, 245, 240);
}


img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

a {
  /*remove hyperlink view of links*/
  text-decoration: none;
  color: inherit;
}